.item-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.machine-slot {
  margin-bottom: 20px;
}

.item-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rolling {
  animation: roll 1s infinite linear;
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}